.flex-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: baseline;

  .flex-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: flex-start;
    min-width: 26%;

    //padding: 0 3%;
    //height: 100%;

    &--sml {
      //flex-grow: 1;
      min-width: 24%;
    }

    &--big {
      //flex-grow: 2;
      min-width: 45%;
      margin: 0 2.5%;
    }

    &--left50 {
      //flex-grow: 2;
      min-width: 47.5%;
      margin-right: 2.5%;
    }

    &--right50 {
      //flex-grow: 2;
      min-width: 47.5%;
      margin-left: 2.5%;
    }

    &--solo-item {
      min-width: 55%;
      margin: 0 auto;
    }

    &--main-menu {
      a {
        font-size: 2em;
        text-decoration: underline;
        margin-top: 2em;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}