@import 'dependencies/variables';

#preview {
  .button-wrap {
    display: flex;
    flex-direction: row-reverse;

    h2 {
      width: fit-content;
      cursor: pointer;
      padding: $umpireMenuMargin 0;
    }
  }

  #preview-editor {
    h3 {
      padding-bottom: $umpireMenuMargin;
    }
  }
}