@import './dependencies/variables';

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, span, p, a {
  color: $grey;
}

h1 {
  margin-bottom: $umpireMenuMargin;
}

h4 {
  width: fit-content;
  padding: 12px 0;
  cursor: pointer;
}

a {
  display: block;
  width: fit-content;

  &:hover {
    color: $darkGrey;
  }
}

a.link,
span.link {
  display: block;
  width: fit-content;
  cursor: pointer;

  svg {
    min-width: 30px;
    padding: 4px;
    margin-right: 2px;
  }

  &:hover {
    color: $darkGrey;
    text-decoration: none;
  }
}