@import './dependencies/variables';

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, span, p, a {
  color: $secondaryColor;
}

p,a {
  font-size: 16px;
}

h1 {
  // color ?
  margin-bottom: $umpireMenuMargin;
}

h4 {
  width: fit-content;
  padding: 12px 0;
  cursor: pointer;
}

a {
  display: block;
  width: fit-content;

  &:hover {
    color: $secondaryColor;
  }
}

.heading {

  &--sml {
    color: $darkGrey;
    font-weight: bold;
  }
}