//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700');

@import 'dependencies/variables';
@import 'dependencies/reset';
@import '~bootstrap/scss/bootstrap';
@import 'typography';
@import 'flex-layout';
@import 'message-stream';
@import 'editor-preview';

/*
  Bootstrap overrides..
 */

.form-control {
  height: fit-content;
}

//.App-header {
//  background-color: #282c34;
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  font-size: calc(10px + 2vmin);
//  color: white;
//}

//.App-link {
//  color: #61dafb;
//}

.view-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3%;
}