//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700');

@import 'dependencies/variables';
@import 'dependencies/reset';
@import '~bootstrap/scss/bootstrap';
@import 'flex-layout';
@import 'typography';
@import 'btns';
//@import 'message-stream';
@import 'sidebar';
@import 'json-editor';
@import 'message-preview';
@import 'preview-editor';
@import 'searchlist';
@import 'modal';

.view-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding: $paddingHeight calc(#{$paddingWidth} + 1vw);
  background-color: #fafcff; // ??
}

#umpire {
  width: 100vw;
  height: 100vh;
  padding: 15vh 12vw;

  a, span {
    font-size: $titleSize;
    line-height: $titleLine;
  }
}

/*
  Bootstrap overrides..
 */

.form-control {

}