.flex-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: baseline;

  &--distribute {
    justify-content: space-between;
    flex-grow: 0;
  }

  .flex-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 26%;

    &--row {
      flex-direction: row;
      margin-bottom: 2.75em;

      .column {
        flex-direction: column;
      }
    }

    &--center {
      width: 25%;
      align-self: center;
    }

    &--sml {
      //flex-grow: 1;
      min-width: 24%;
      justify-content: center;

    }

    &--fill {
      flex-grow: 1;
      min-width: 50%;
    }

    &--big {
      //flex-grow: 2;
      min-width: 45%;
      margin: 0 2.5%;
    }

    &--left50 {
      //flex-grow: 2;
      min-width: 47.5%;
      margin-right: 2.5%;
    }

    &--right50 {
      //flex-grow: 2;
      min-width: 47.5%;
      margin-left: 2.5%;
    }

    &--solo-item {
      min-width: 55%;
      margin: 0 auto;
    }

    &--main-menu {
      a {
        font-size: 2em;
        text-decoration: underline;
        margin-top: 2em;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}
