@import "dependencies/variables";

#game-setup-head {
  background: $greyBg;
  z-index: 2;
  padding: 6vh 1vw 0;
}

.tab-nav {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: $darkGrey;
  background: $greyBg;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

  li {
    position: relative;
    display: flex;
    flex-basis: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 160px;
    min-height: 48px;
    padding: 6px 12px;
    cursor: pointer;

    &.active-tab {
      border-bottom: 2px solid $primaryColor;
    }

    .dirty-flag {
      position: absolute;
      right: 10px;
      font-size: .65em;
    }
  }
}

.settingsTab,
.channelsTab,
.forcesTab {

  padding: 0 2%;

  h3 {
    display: inline-flex;
    max-width: 33%;
    text-overflow: ellipsis;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 8px 12px;
    margin-top: 6px;
  }
}

.forcesTab {
  #forces-editable {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.85em;
    font-weight: 500;
    color: $secondaryColor;
    border: none;
    background: transparent;
    text-overflow: ellipsis;
  }

  .force-icon {
    width: 32px;
    height: 32px;
    margin: 0 20px;
    border-radius: 100%;
  }

  .force-button-wrap {
    flex-grow: 2;

    span {
      float: right;
      margin-left: 20px;
    }

    span:last-child {
      float: left;
      margin-left: 0;
    }
  }

  .roles {
    display: flex;
    flex-direction: row;
    margin-top: 12px;

    .group-item {
      margin: 0 5px;
      border-radius: 2px;

      svg {
        cursor: pointer;
        padding: 1px;

        &.fa-pencil-alt {
          padding: 2px;
        }
      }
    }
  }
}

.channelsTab {

  #channel-editable {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.85em;
    font-weight: 500;
    color: $secondaryColor;
    border: none;
    margin-bottom: 24px;
    background: transparent;
    text-overflow: ellipsis;
  }

  table {

    font-family: "Segoe UI", sans-serif;
    margin-top: 12px;
    table-layout: fixed;
    width: 100%;

    svg {
      cursor: pointer;
      margin-left: 10px;
    }

    thead {
      tr th {
        padding: 6px;
      }
      border-bottom: 1px solid $lightGrey;
      margin-bottom: 12px;
    }

    tbody {
      tr {
        td {
          padding: 12px 6px;
        }

        &:nth-child(even) {
          background: $lightGrey;
        }

        &:last-of-type {
          background: transparent;
        }
      }
    }

    th, td {
      width: 25%;
      vertical-align: middle;
    }

    th:nth-of-type(2),
    td:nth-of-type(2),
    th:nth-of-type(3),
    td:nth-of-type(3) {
      width: 32.5%
    }

    th:nth-of-type(4),
    td:nth-of-type(4) {
      width: 10%
    }
  }
}
