@import 'dependencies/variables';

.message-preview-player {
  padding-top: 16px;
  margin-bottom: 12px;

  h3 {
    font-size: 1.4em;
    padding-bottom: .25em;
  }

  .group-section {
    margin-top: $umpireMenuMargin;
  }
}

#title-editable {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.85em;
  font-weight: 500;
  color: $secondaryColor;
  border: none;
  background: transparent;
  text-overflow: ellipsis;
  display: inline-block;
  width: 300px;
}

.savewargame-icon {
  align-self: center;
  margin-left: 8px;
  cursor: pointer;
}

.message-feeds {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  max-height: 100vh;
  max-width: 33%;
  overflow: hidden;

  .message-list {
    flex-grow: 1;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;

    .wrap {
      padding: 16px;
    }
  }

  .Collapsible {
    position: relative;

    &__trigger {
      display: flex;
      align-items: center;
      padding: 16px;
      font-size: 1.4em;
      line-height: 1.75em;
      font-weight: 500;
      cursor: pointer;

      .message-title {
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      svg {
        margin-right: 10px;
        padding: 2px;
      }

      .badge {
        font-size: 50%;
        font-weight: 200;
        height: fit-content;
        margin-left: 10px;
        line-height: 1.5em;
        padding: 0 6px;
      }
    }

    &:nth-of-type(even) {
      background: $lightGrey;
    }
  }

  .new-message-creator {
    left: 0;
    bottom: 0;
    background: #f5f5f5;
    padding: 16px;
    //border-top: 5px solid $primaryTriadColor;

    @include drawerShadow();

    .message-input {
      margin: 18px 0;
    }

    .btn {
      float: right;
    }

    #message-creator {
      font-family: "Segoe UI", sans-serif;
      font-weight: bold;
      color: $secondaryColor;

      h3 {
        display: none;
      }

      .bg-light {
        background-color: #f5f5f5 !important;
      }
      .card {
        border: none;

        &-body {
          padding: 0;
        }
      }
    }
  }

  .detail {
    font-style: italic;
  }
  .data {
    padding: 0 6px 0 2px;
    word-break: break-word;
  }
}

.pre-start-screen {
  display: flex;
  height: 100vh;
  justify-content: center;

  button {
    align-self: center;
  }
}
