@import 'dependencies/variables';

.message-preview-player {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 16px;
  border-left-style: solid;
  border-left-width: 4px;

  h3 {
    font-size: 1.4em;
    padding-bottom: .25em;
  }

  span {
    font-size: 1.25em;
    font-family: monospace;
  }

  .info-wrap {
    display: flex;
    align-items: center;

    span {
      font-size: 13px;
      font-weight: 400;
      margin-right: 6px;
    }

    .badge {
      font-size: 11px;
    }
  }
}

.feedback-channel {
  //padding: 20px;
  background: $lightBg;
  max-width: 15%;

  .message-list {

    padding: 20px;
  }
}

#title-editable {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.85em;
  font-weight: 500;
  color: $secondaryColor;
  border: none;
  background: transparent;
  text-overflow: ellipsis;
  display: inline-block;
  width: 300px;
}

.savewargame-icon {
  align-self: center;
  margin-left: 8px;
  cursor: pointer;
}

.out-of-game-feed {
  background: $lightBg;
  max-width: 25%;

  .flexlayout__layout {
    position: relative;
    display: flex;
    flex-grow: 2;
  }

  span {
    font-size: .85em;
    font-family: "Segoe UI", sans-serif;
  }
}

.message-feed {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .unread {
    &:after {
      position: absolute;
      top: -.5em;
      content: 'new';
      font-size: .45em;
    }
  }

  .forces-in-channel {
    display: flex;
    flex-direction: row;

    button {
      margin-left: auto;
      font-size: 12px;
    }

    .force-indicator {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }

  &.out-of-game-feed {
    .message-list {
      max-height: calc(100vh - 400px);
    }
  }

  .message-list {
    max-height: calc(100vh - 165px);
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 2;

    .wrap {
      padding: 16px;
    }

    .turn-marker {
      width: 100%;
      border-bottom: 1px solid $grey2;
      color: $grey2;
      text-align: right;
      padding-right: 10px;
      padding-top: 18px;
    }

    .feedback-marker {
      width: 100%;
      border-bottom: 1px solid $grey2;
      color: $grey2;
      text-align: right;
      padding-right: 10px;
    }

    .detail-row span{
      font-size: 0.8em;
    }

    span.detail
    {
      background-color: #777;
      color:#eee;
    }

    span.detail-title {
      text-decoration: underline;
      background-color: #fff;
      color:#000;
    }
  }

  .Collapsible {
    position: relative;

    &__trigger {
      display: block;
      padding: 16px 0;
      font-size: 1.45em;
      font-family: monospace;
      line-height: 1.75em;
      font-weight: 500;
      cursor: pointer;

      .message-title-wrap {
        display: block;
        padding: 0 16px;
        margin-left: 16px;
        border-left-width: 4px;
        border-left-style: solid;
      }

      .message-title {
        display: inline;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .info-wrap {
        display: flex;
        align-items: center;

        span {
          font-size: 13px;
          font-weight: 400;
        }
      }

      .badge {
        font-size: 55%;
        font-weight: 200;
        font-family: monospace;
        height: fit-content;
        margin-left: 10px;
        line-height: 1.5em;
        padding: 0 6px;
      }

      svg {
        margin-right: 10px;
        padding: 2px;
      }

      img {
        margin-left: 10px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
      }
    }

    &:nth-of-type(even) {
      background: $lightGrey;
    }
  }

  .badge {
    font-size: 11px;
    font-weight: 200;
    font-family: monospace;
    display: block;
    width: fit-content;
    height: auto;
    margin-top: 2px;
    line-height: 1.5em;
    padding: 0 6px;
  }

  .new-message-orderable {
    position: absolute;
    left: 0;
    bottom: 0;
  };

  .new-message-creator {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
    padding: 0 16px 16px;

    @include drawerShadow();

    .message-input {
      margin-bottom: 18px;
    }

    .btn {
      float: right;
    }

    #message-creator {
      font-family: "Segoe UI", sans-serif;
      font-weight: bold;
      color: $secondaryColor;

      h3 {
        display: none;
      }

      .bg-light {
        background-color: #f5f5f5 !important;
      }
      .card {
        border: none;

        &-body {
          padding: 0;
        }
      }
    }
  }

  .detail {
    font-style: italic;
  }
  .data {
    padding: 0 6px 0 2px;
    word-break: break-word;

    a {
      display: inline;
      font-weight: bold;
    }
  }
}

.pre-start-screen {
  display: flex;
  height: 100vh;
  justify-content: center;

  button {
    align-self: center;
  }
}


.demo-passwords {
  position: absolute;
  top: 10px;
  left: 50px;

  li {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
}

.role-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 14px 20px;
  background: $greyBg;

  .role-type {
    font-size: 20px;
    font-weight: 500;
  }

  .force-type {
    font-size: 26px;
    font-weight: 500;
    margin-left: auto;
  }

  img {
    width: auto;
    height: 36px;
    margin-left: 12px;
    cursor: pointer;
  }
}

.force-objectives {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 750px;
  height: 550px;
  padding: 14px;
  border: 5px solid $primaryColor;
  background: $lightBg;
  overflow: hidden;

  .objective-text {
    margin-top: 15px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .role-info {
    position: absolute;
    bottom: 1px;
    right: -5px;
    background: $lightBg;
  }
}
