@import "dependencies/variables";

.wargame-title {
  background: $lightBg;
  flex-grow: 0;
  justify-content: space-between !important;
  align-items: center;
  flex-direction: row !important;
  padding: $umpireMenuMargin;

  h3 {
    width: fit-content;
    color: $primaryTriadColor;
  }

  svg {
    cursor: pointer;
    color: $primaryTriadColor;
  }
}

.turn-progression-ui {
  background: $primaryTriadColor;
  flex-grow: 0;
  justify-content: space-between;
  padding: $umpireMenuMargin;

  &.adjunction-phase {
    background: $grey;
  }

  h3, h4, h5, h6, p, span {
    color: $lightBlue !important;
  }

  h5 {
    font-weight: 400;
    line-height: 1.75em;
  }
  h6 {
    font-weight: 200;
  }
  h3, h6 {
    text-align: center;
  }

  //h3, h4 {
  //  line-height: 1.5em;
  //}

  h3.ended {
    &:before {
      content: "-";
    }
  }

  h3.warning {
    animation: blink 1s infinite;
  }

  @keyframes blink {
    49% {
      color: $lightBlue;
    }
    50% {
      color: $primaryTriadColor;
    }
    99% {
      color: $primaryTriadColor;
    }
    100% {
      color: $lightBlue;
    }
  }
}
