@import "dependencies/variables";

.wargame-title {
  background: $backgroundCustom;
  flex-grow: 0;
  justify-content: space-between !important;
  align-items: center;
  flex-direction: row !important;
  padding: $umpireMenuMargin;

  h3 {
    width: fit-content;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    @include typo-secondary;
  }

  svg {
    cursor: pointer;
    color: $primaryTriadColor;
  }
}

.wargame-title-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('dependencies/images/chat.png');
}

.turn-info-phase {
  h5 {
    color: #ffffff;
    font-size: 13px;
  }

  time {
    font-size: 11px;
    color: $turnTimeColor;
  }
}

.turn-info-remaining {
  .time-left {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1;
  }

  .info-helper {
    font-size: 10px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    display: block;
  }
}

.turn-progression-ui {
  background: $backgroundCustomDarken;
  color: #000000;
  flex-grow: 0;
  justify-content: space-between;
  padding: $umpireMenuMargin;

  &.adjunction-phase {
    background: $grey;
  }

  .ended {
    &:before {
      content: "-";
    }
  }

  .warning {
    animation: blink 1s infinite;
  }

  @keyframes blink {
    49% {
      color: $lightBlue;
    }
    50% {
      color: $primaryTriadColor;
    }
    99% {
      color: $primaryTriadColor;
    }
    100% {
      color: $lightBlue;
    }
  }
}
