//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700');

@import 'dependencies/variables';
@import 'dependencies/reset';
@import '~bootstrap/scss/bootstrap';
@import '~flatpickr/dist/themes/light.css';
@import 'flex-layout';
@import 'typography';
@import 'btns';
@import 'sidebar';
@import 'json-editor';
@import 'message-preview';
@import 'preview-editor';
@import 'searchlist';
@import 'modal';
@import 'progress';
@import 'gameSetup';
@import 'input';
@import 'notification';
@import 'playerUi';

.view-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding: $paddingHeight 1vw $paddingHeight calc(#{$paddingWidth} + 1vw);
  background-color: #fafcff; // ??

  &-gamesetup {
    padding: 0 0 $paddingHeight $paddingWidth;
  }
}

#umpire {
  width: 100vw;
  height: 100vh;
  padding: 15vh 12vw;

  a {
    margin-bottom: 1.15em;
  }

  span {
    font-size: $titleSize;
    line-height: $titleLine;
  }
}
