.demo-content-wrapper {
  #umpire {
    width: 50vw;
    height: 45vh;
    padding: 5vh 0 5vh 0;

    &.flex-landing-screen,
    &.flex-jc-center {
      justify-content: center;
    }
  }

  #sidebar_admin,
  #sidebar {
    width: 10vw;
    height: 100%;
    position: absolute;

    .link,
    .link--active {
      font-size: 1.25em;
      margin-bottom: 1px;
    }
  }

  #sidebar {
    width: 5vw;
  }

  #home-btn {
    width: 100%;
  }

  input[name=force-name] {
    max-width: 220px;
  }

  .view-wrapper-gamesetup {
    min-height: 45vh;
  }

  .force-color-icon {
    margin-left: -20px;
    margin-top: 10px;
  }

  .force-input-wrap {
    flex-direction: column;
  }

  .contain-message-templates,
  .contain-message-library {
    width: 75%;
    align-self: flex-end;
  }

  .searchlist-list {
    .searchlist-title {
      display: block;
    }
  }

  #preview-editor {
    h3 {
      > span {
        display: block;
      }

      .btn-group {
        margin-left: 0!important;

        + .btn-group {
          margin-left: 10px!important;
        }
      }
    }
  }
}